/node_modules
/.vscode
/website_analysis.md
/architecture_design.md
/.next
.next/app-build-manifest.json
.next/build-manifest.json
.next/routes-manifest.json
.next/trace
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/6.pack
.next/cache/webpack/server-production/7.pack
.next/cache/webpack/server-production/8.pack
.next/cache/webpack/server-production/9.pack
.next/cache/webpack/server-production/10.pack
.next/cache/webpack/server-production/11.pack
.next/cache/webpack/server-production/12.pack
.next/cache/webpack/server-production/13.pack
.next/cache/webpack/server-production/14.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/font-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.nft.json
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page.js.nft.json
.next/server/app/cardiac/page_client-reference-manifest.js
.next/server/app/cardiac/page.js
.next/server/app/cardiac/page.js.nft.json
.next/server/app/dose/page_client-reference-manifest.js
.next/server/app/dose/page.js
.next/server/app/dose/page.js.nft.json
.next/server/app/dual-energy/page_client-reference-manifest.js
.next/server/app/dual-energy/page.js
.next/server/app/dual-energy/page.js.nft.json
.next/server/app/questions/page_client-reference-manifest.js
.next/server/app/questions/page.js
.next/server/app/questions/page.js.nft.json
.next/server/app/reconstruction/page_client-reference-manifest.js
.next/server/app/reconstruction/page.js
.next/server/app/reconstruction/page.js.nft.json
.next/server/chunks/237.js
.next/server/chunks/632.js
.next/server/chunks/649.js
.next/server/chunks/682.js
.next/server/chunks/891.js
.next/server/chunks/font-manifest.json
.next/server/pages/_app.js
.next/server/pages/_app.js.nft.json
.next/server/pages/_document.js
.next/server/pages/_document.js.nft.json
.next/server/pages/_error.js
.next/server/pages/_error.js.nft.json
.next/static/HuhwS136igW9ZMnF757zv/_buildManifest.js
.next/static/HuhwS136igW9ZMnF757zv/_ssgManifest.js
.next/static/chunks/117-5ded62819e589cbe.js
.next/static/chunks/156-6b4e207e09271c3c.js
.next/static/chunks/255-e08b33ba3d5dff8a.js
.next/static/chunks/287-d1833141e78e521f.js
.next/static/chunks/447-23f0d44497422bb2.js
.next/static/chunks/fd9d1056-cb0baee44c821c69.js
.next/static/chunks/framework-00a8ba1a63cfdc9e.js
.next/static/chunks/main-0f36376f994e8426.js
.next/static/chunks/main-app-1a0bd4fba446e591.js
.next/static/chunks/polyfills-42372ed130431b0a.js
.next/static/chunks/webpack-8d5960c35e88d234.js
.next/static/chunks/app/layout-0b154ab050f7153f.js
.next/static/chunks/app/page-06f7588ae8e6ce48.js
.next/static/chunks/app/_not-found/page-bb3f6cdf2ed0b9e4.js
.next/static/chunks/app/cardiac/page-b842317439c9d136.js
.next/static/chunks/app/dose/page-b7ab714a24aa8516.js
.next/static/chunks/app/dual-energy/page-e74e9d52a92a3cd0.js
.next/static/chunks/app/questions/page-9025d3ca92f1eaf7.js
.next/static/chunks/app/reconstruction/page-714166c528604171.js
.next/static/chunks/pages/_app-15e2daefa259f0b5.js
.next/static/chunks/pages/_error-28b803cb2479b966.js
.next/static/css/0a13d10225a26b9d.css
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/cardiac/page.ts
.next/types/app/dose/page.ts
.next/types/app/dual-energy/page.ts
.next/types/app/questions/page.ts
.next/types/app/reconstruction/page.ts
